@model IEnumerable<I4GUI2019SommerWEB.Models.Location>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streetnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trees)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => location.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Streetnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Trees)
            </td>
            <td>
                <button><a asp-action="Create" asp-controller="Sensor" asp-route-id="@location.LocationId">Add Sensor</a></button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        var footerTimeStamp = document.getElementById("modifyState");
        console.log(footerTimeStamp);
        var newHTML = footerTimeStamp.innerHTML + "<p> - This page was last modified: " + document.lastModified + "</p>";
        footerTimeStamp.innerHTML = newHTML;
    </script>

    <script src="~/js/site.js"></script>
}